@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    height: 100%;
    color: var(--color-text);
    font-family: 'Lato', sans-serif;
}